name: hostelapplication
description: A new Flutter project.


publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ">=2.17.3 <3.0.0"

dependencies:

  flutter:
    sdk: flutter
  shared_preferences: ^2.0.15
  firebase_core: ^2.24.2
  firebase_auth: ^4.16.0
  cloud_firestore: ^4.14.0
  firebase_storage: ^11.6.0
  uuid: ^4.3.3
  provider: ^6.0.3
  rflutter_alert:
  date_time_picker:
  image_picker: ^1.0.7
  file_picker:
  curved_navigation_bar: ^1.0.3
  google_fonts: ^6.1.0
  intl: ^0.17.0
  flutter_downloader: ^1.10.2
  path_provider: ^2.0.14


dev_dependencies:

  flutter_test:
    sdk: flutter
  font_awesome_flutter: ^10.1.0

flutter:
  uses-material-design: true


  assets:
    - assets/images/
  
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

